p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 24px;
}

footer {
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: 0.8rem;
}

.section-light {
  background-color: rgba(24, 46, 77, 0.05);
}

.hero-5-image {
  position: absolute;
  left: 50%;
  top: 50px;
  bottom: 0px;
  display: inline-block;
}

.text-20 {
  opacity: 1;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.text-16 {
  line-height: 24px;
}

.text-14-60 {
  opacity: 0.6;
}